div {
  display: flex;
  color: #333;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 10px;
}
div span:nth-child(1) {
  font-size: 18px;
}
div span:nth-child(2) {
  font-size: 14px;
  margin-left: 20px;
}