body{
  background-color: #aaa;
}

.img1 {
  width: 360px;
  position: absolute;
  right:530px;
  right: 30px;
  top: 10px;
  top: 140px;
}

/* div{
  width: 200px;
  height: 130px;
  background-color: darkgoldenrod;
  margin: 100px auto;
  border-radius: 20px;
  transform: perspective(15px) rotateX(5deg);
  transform-origin: left bottom;
} */

/* svg{
  display: none;
} */